In [ ]:

#T.1.Get the keys from the dictionaries named sample_dic as a list

sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}

In [ ]:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
}
keys_list = list(sample_dict.keys())
print(keys_list)

['Physics', 'Math', 'history']

In [ ]:
sample_dict={
    "Physics":82,
    "Math":65,
    "History":75}
value_list=list(sample_dict.values())
print(value_list)

[82, 65, 75]

In [ ]:
sample_dict={
    "Physics":82,
    "Math":65,
    "history":75
}
items_list=list(sample_dict.items())
print(items_list)

[('Physics', 82), ('Math', 65), ('history', 75)]

In [ ]:
#T.2 Get sum of all the values in a dict

# Input:
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50

}
value_sum=sum(sample_dict.values())
print("The sum of values is:" ,value_sum)

The sum of values is: 361

In [ ]:
#T.3 Get the key of a minimum value from the following dictionary

# Input:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

# Expected Output: Math

In [ ]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
min_value_key=min(sample_dict,key=sample_dict.get)
print(min_value_key)

Math

In [ ]:
min_value=sample_dict[min_value_key]
print(min_value)

65

In [ ]:
#4.T.4 Delete a list of keys from a dictionary
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

# Expected Output: {'city': 'Baku', 'age': 23}

In [5]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}
sample_dict.pop("salary")
sample_dict.pop("name")
print(sample_dict)

{'age': 23, 'city': 'Baku'}

In [ ]:
# 5.T.5.Create a dictionary by extracting the keys from a given dictionary

# Inputs:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}

# Keys to extract
keys = ["name", "salary"]

# Expected Output: {'name': 'Khalid', 'salary': 1000}

In [6]:
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"}
sample_dict.pop("age")
sample_dict.pop("city")
print(sample_dict)

{'name': 'Khalid', 'salary': 1000}

In [6]:
# 7.Print multiplication table of 24 using loop.
number=24
for i in range(1,10):
  mult=number*i
  print(f"{number}x{i}={mult}")

24x1=24
24x2=48
24x3=72
24x4=96
24x5=120
24x6=144
24x7=168
24x8=192
24x9=216

In [7]:
#9.Write a program that calculates the sum of the digits of a given number. Ask the user to input a number

number = input("Enter number: ")
digit_sum = sum(int(digit) for digit in number if digit.isdigit())

print("sum of digits:", digit_sum)

Enter number: 47365843758
sum of digits: 60

In [9]:
# 10 Write a Python program that takes a string input from the user and counts the number of characters in the string.

words=input("words: ")
number_of_character=len(words)
print("Number of character: ",number_of_character)

words: ehyfherbvfhvb
Number of character:  13